<header class="header">
	<!-- Header Inner -->
	<div class="header-inner">
	  <div class="container">
		<div class="inner">
		  <div class="row">
			<div class="col-lg-3 col-md-3 col-12">
			  <!-- Start Logo -->
			  <div class="logo">
				<a routerLink="/home"><!--</img src="assets/img/logo.png">--></a>
			  </div>
			  <!-- End Logo -->
			  <div class="mobile-nav"></div>
			</div>
			<div class="col-lg-7 col-md-9 col-12">
			  <!-- Main Menu -->
			  <div class="main-menu">
				<nav class="navigation">
				  <ul class="nav menu">
					<li routerLinkActive="active">
					  <a routerLink="/home">Home <i class="icofont-rounded-down"></i></a>
					</li>
					<li routerLinkActive="active">
					  <a routerLink="/recommendation">Recommendation System<i class="icofont-rounded-down"></i></a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="/enrollments">Enrolled Courses<i class="icofont-rounded-down"></i></a>
						<ul class="dropdown">
							<li><a routerLink="/competedcourses">Completed courses</a></li>
						  </ul>
					  </li>
					  <li *ngIf="isAdminLoggedIn()" routerLinkActive="active">
						<a routerLink="/admin-dashboard">Administrateur<i class="icofont-rounded-down"></i></a>
					  </li>
					<li routerLinkActive="active">
						<a routerLink="/profile">Profile<i class="icofont-rounded-down"></i></a>
					</li>
					<li routerLinkActive="active">
						<a (click)="logout()" style="cursor: pointer;">Logout <i class="icofont-logout"></i></a>
					  </li>
				  </ul>
				</nav>
			  </div>
			  <!--/ End Main Menu -->
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </header>
  